   /* button:hover{
      background-color: darkseagreen;
      color: brown;
   }

   h1:hover{
      color:purple
   }

div :last-child,div p:hover {
   color: red;
}

ul ::marker{
   color: brown;
}

li{
   color: purple;
}

input::placeholder{
   color: cornflowerblue;
}

input{
   color: cadetblue;
}

p::before{
   content: "PseudoE -";
} */

div{
   background-color:cadetblue;
   height: 200px;
   width: 500px;
   padding: 32px ;
   border: 3px solid brown;
   margin: 64px;

   border-radius: 32px;
}

